
.gallery{
    width: 80%;
    margin: auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clr2);
    border-radius: 30px;
    padding: 15px;
}

.filter-memes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

input.meme-search{
    font-family: poppins;
    font-size: 1.25rem;
    color: black;
    padding-left: 1.5625rem;
    background-color: var(--clr4);
    width: 500px;
    height: 50px;
    border-radius: 100rem;
}

.filter-words{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-words button{
    cursor: pointer;
    flex-basis: 15%;
    background-color: transparent;
    border: 0px solid transparent;
    height: fit-content;
    font-family: poppins;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--clr3);
}

.filter-words button:hover{
    color: orange;
}

button.more-btn{
    width: 8rem;
    height: 50px;
    border-radius: 100rem;
    background-color: transparent;
    font-family: poppins;
    font-size: 1.25rem;
    color: white;
    border: 1px solid white;
    transition: box-shadow 0.3s, backgrond-color 0.3s, color 0.3s;

}

button.more-btn:hover{
    cursor: pointer;
    color: lightseagreen;
    background-color: white;
    box-shadow: black 0px 4px 3px 3px;
}

.meme-pics{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}